listen=YES
listen_ipv6=NO
background=YES
listen_address=10.73.1.106
listen_port=21
connect_from_port_20=YES
anonymous_enable=YES
no_anon_password=YES
anon_root=/var/ftp/pub
anon_upload_enable=YES
allow_writeable_chroot=YES
write_enable=YES
#guest_enable=YES
#guest_username=ftp
xferlog_enable=YES
ftpd_banner=Hello!
pasv_min_port=10100
pasv_max_port=10111

