<html>
  <head>
    <title>Welcome to my web server</title>
  </head>
  <body>
  <h1>Welcome to my web server</h1>
  <p>If you can see this, Ansible successfully installed apache.</p>
  <p>Running on {{ ansible_host }}</p>
  </body>
</html>
